VITE_FIREBASE_API_KEY=AIzaSyCxUPqGeZ3DvwTp1IqBfvKs6nj2Lttjo1A
VITE_FIREBASE_AUTH_DOMAIN=mediflow-f1701.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=mediflow-f1701
VITE_FIREBASE_STORAGE_BUCKET=mediflow-f1701.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=212664449404
VITE_FIREBASE_APP_ID=1:212664449404:web:c9d57ef289c5e925c08cf9
VITE_FIREBASE_MEASUREMENT_ID=G-C8W9674BKB
VITE_USE_FIREBASE_EMULATORS=false